name: rt-thread-club

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  # Runs on the 0, 4, 8, 12, 16 and 20th hour every day
  schedule:
    - cron:  '0 */4 * * *'
  push:
    branches: [ master ]
    paths-ignore:
      - docs/**
      - cmake/**
      - scripts/**
  pull_request:
    branches: [ master ]
    paths-ignore:
      - docs/**
      - cmake/**
      - scripts/**

jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@master
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install selenium
    - name: Sign In
      run: |
        python actions.py
      env:
        CLUB_USERNAME: ${{ secrets.USERNAME }}
        CLUB_PASSWORD: ${{ secrets.PASSWORD }}

#     - name: 'Upload Artifact'
#       uses: actions/upload-artifact@v2
#       with:
#         name: my-artifact
#         path: /home/runner/paihang.png
#         retention-days: 5
